<h2>Vlasnici</h2>
<table border="1">
            <thead>
        <tr>

            <th>Korisnicko ime</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Pol</th>       
            <th>Adresa</th>
            <th>Telefon</th>
            <th>Mejl</th>
            <th>Broj Kartice</th>
            <th>Dugmići</th>
        </tr>
        </thead>
    @for(v of vlasnici; track v.korIme){
        <tr>
            <td> {{v.korIme}} </td>
            <td> {{v.ime}} </td>
            <td> {{v.prezime}} </td>
            <td> {{v.pol}} </td>
            <td> {{v.adresa}} </td>
            <td> {{v.telefon}} </td>
            <td> {{v.mejl}} </td>
            <td> {{v.brojKredinteKartice}} </td>
            <td><button (click) = "izmeni(v)">Azuriraj</button>
            <button (click) = "deaktiviraj(v)" [disabled] = "!v.aktivan">Deaktiviraj</button>
            <button (click) = "aktiviraj(v)" [disabled]  = "v.aktivan">Aktiviraj</button></td>
        </tr>
    }
</table>


<h2>Turisti</h2>
<table border="1">
            <thead>
        <tr>

            <th>Korisnicko ime</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Pol</th>       
            <th>Adresa</th>
            <th>Telefon</th>
            <th>Mejl</th>
            <th>Broj Kartice</th>
            <th>Dugmići</th>
        </tr>
        </thead>   
    @for(t of turisti; track t.korIme){
        <tr>
            <td> {{t.korIme}} </td>
            <td> {{t.ime}} </td>
            <td> {{t.prezime}} </td>
            <td> {{t.pol}} </td>
            <td> {{t.adresa}} </td>
            <td> {{t.telefon}} </td>
            <td> {{t.mejl}} </td>
            <td> {{t.brojKredinteKartice}} </td>
            <td><button (click) = "izmeni(t)">Azuriraj</button>
            <button (click) = "deaktiviraj(t)" [disabled] = "!t.aktivan">Deaktiviraj</button>
            <button (click) = "aktiviraj(t)" [disabled]  = "t.aktivan">Aktiviraj</button></td>
        </tr>
    }
</table>

<h2>Zahtevi</h2>
<table border="1">
    <thead>
        <tr>
            <th>Korisnicko ime</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Tip</th>
            <th>Pol</th>       
            <th>Adresa</th>
            <th>Telefon</th>
            <th>Mejl</th>
            <th>Broj Kartice</th>
           <!-- <th>Slika</th> -->
           <!-- <th>Izmena</th> -->
            <th>Dugmići</th>
        </tr>
        </thead>
    @for(z of zahtevi; track z.korIme){
        @if(!z.odbijeno){
            <tr>
                <td>{{z.korIme}}</td>
                <td>{{z.ime}}</td>
                <td>{{z.prezime}}</td>
                <td>{{z.tip}}</td>
                <td>{{z.pol}}</td>
                <td>{{z.adresa}}</td>
                <td>{{z.telefon}}</td>
                <td>{{z.mejl}}</td>
                <td>{{z.brojKredinteKartice}}</td>
                <!-- <td>{{z.slika}}</td> -->
                <!--<td>  <img [src]="'http://localhost:4000/uploads/' + z.slika"></td> -->
                <td> <button (click) = "prihvati(z)">Prihvati</button>
                <button (click) = "odbi(z)">Odbi</button> </td>
            </tr>
        }
    }
</table>

<br>

<h2>Vikendice</h2>
<table border="1">
                <thead>
        <tr>
            <th>Naziv</th>
            <th>Mesto</th>
            <th>Telefon</th>
            <th>Ocene</th>
            <th>Vlasnik</th>       
            <th>Blok</th>

        </tr>
        </thead>
    @for(v of sveVikendice; track v.idV){
        @if(v.ocene.length > 3 && v.ocene[v.ocene.length-1] < 2 &&
        v.ocene[v.ocene.length-2] < 2 && v.ocene[v.ocene.length-3] < 2 ){
            <tr style="background-color: red;">
                <td>{{v.naziv}}</td>
                <td>{{v.mesto}}</td>
                <td>{{v.telefon}}</td>
                <td>{{v.ocene}}</td>
                <td>{{v.vlasnik}}</td>
                <td> <button (click) = "blokiraj(v)">Blokiraj na 48h</button> </td>
            </tr>
        } @else {
            <tr>
                <td>{{v.naziv}}</td>
                <td>{{v.mesto}}</td>
                <td>{{v.telefon}}</td>
                <td>{{v.ocene}}</td>
                <td>{{v.vlasnik}}</td>  
                <td> <button (click) = "blokiraj(v)" [disabled] = true>Blokiraj na 48h</button> </td>
            </tr>
        }
    }
</table>

<br>
<div class="trazi">
<button (click) = "odjava()">Odjavi se </button>
</div>