<div class="Podaci">
    <div class="pod"> Naziv: <br>  {{vikendica.naziv}}  </div>
    <div class="pod">  Mesto: <br> {{vikendica.mesto}}  </div>
    <div class="pod"> Usluge:  <br>  {{vikendica.usluge}}  </div>
    <div class="pod"> Cenovnik: <br>
    @for(c of vikendica.cenovnik; track $index){
        {{c}}
        @if (!$last) {
            ||
        }
    }
    </div>
    <div class="pod"> Telefon: <br>  {{vikendica.telefon}}  </div>
    <div class="pod">  Komentari:  <br> 
        @for(k of vikendica.komentari; track $index){
            {{k}}
            @if (!$last) {
                ||
            }
        }
    </div>
    <div class="pod">   Ocene:  <br>
        @for(o of vikendica.ocene; track $index){
            {{o}}
            @if (!$last) {
                ||
            }
        } 
    </div>
</div>
<div class="galerija-kontejner">
@for(s of vikendica.galerija; track s){ 
    <img [src]="'http://localhost:4000/uploads/' + s">
}
</div>

<br>

<div *ngIf="vikendica && vikendica.koordinate.lng && vikendica.koordinate.lat">
    <app-mapa 
        [lat]="vikendica.koordinate.lat" 
        [lng]="vikendica.koordinate.lng">
    </app-mapa>
</div>
<br>
<div class="vik"> <button (click) = "nazad()">Nazad</button> </div>


@if(vikendica.blokirana != "" && vikendica.blokirana > danas.toISOString() ){
    <h3> Vikendica je blokirana </h3>
} @else {
    <hr>
    <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="prva" label="Detalji">
            
            <form [formGroup]="prva">

                <h4>Detalji rezervacije</h4>
                
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Datum i vreme početka</mat-label>
                    <input matInput 
                        type="datetime-local" 
                        formControlName="datumPocetka" 
                        required>
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Datum i vreme završetka</mat-label>
                    <input matInput 
                        type="datetime-local" 
                        formControlName="datumKraja" 
                        required>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Broj odraslih</mat-label>
                    <input matInput type="number" formControlName="odrasli" min="1" required>
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Broj dece</mat-label>
                    <input matInput type="number" formControlName="deca" min="0">
                </mat-form-field>

                <div class="vik">
                <button (click) = proveraPrva(stepper) >Nastavi</button>
                </div>
                
            </form>
        </mat-step>
        
        <mat-step label="Plaćanje">
        <form [formGroup]="druga">
            <h4>Placanje</h4>
            <div class="Podaci"> 
            <div class="pod"> Naziv:<br>  {{vikendica.naziv}} </div>
            <div class="pod"> DatumPocetka: <br> {{datumPocetka.toLocaleString()}} </div> 
            <div class="pod">DatumPocetka: <br>{{datumKraja.toLocaleString()}}  </div>
            <div class="pod"> brojOdraslih: <br> {{this.prva.value.odrasli}} </div>
            <div class="pod"> brojDece: <br> {{this.prva.value.deca}} </div>
            <div class="pod"> Cena: <br> {{cena}} </div>
            </div>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>brojKredinteKartice</mat-label>
                    
                    <input matInput 
                        type="text" 
                        formControlName="brojKredinteKartice" 
                        required>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>komentar</mat-label>
                    <textarea matInput formControlName="komentar" placeholder="Opcioni komentar"> </textarea>
                </mat-form-field>
                <div class="vik">
                <button (click) = proveraDruga(stepper) >Kraj</button>
                </div>
        </form>

            </mat-step>
        
    </mat-horizontal-stepper>
}
