<table border="1">
    <caption><h3>Aktivne rezervacije</h3></caption>
            <thead>
        <tr>
            <th>Datum Početka</th>
            <th>Datum Kraja</th>
            <th>Naziv vikendice</th>
            <th>Mesto vikendice</th>
            <th>Status</th>
            <th>Otkazivanje</th>
        </tr>
    </thead>
@for (r of rezervacijeAktivne; track r.idR){
    <tr>
        @if(r.status != "Odbijena"){
            <td> {{r.datumPocetka}} </td>
            <td> {{r.datumKraja}} </td>
            <td> {{r.nazivV}} </td>
            <td> {{r.mestoV}} </td>
            <td>{{r.status}}</td>
            <td>
            @if(r.datumPocetka1.getTime() > danas.getTime() + 24*60*60*1000){
                <button (click) = "otkazi(r)">Otkazi rezervaciju</button>
            } </td>
        }
    </tr>
}
</table>

<table border="1">
    <caption><h3>Arhiva rezervacija</h3></caption>
        <thead>
        <tr>
            <th>Datum Početka</th>
            <th>Naziv Vikendice</th>
            <th>Status</th>
            <th>Ocena</th>
            <th>Komentar</th>
            <th>Ocenjivanje</th>
        </tr>
    </thead>
@for (r of rezervacijeArhiva; track r.idR){
    <tr>
        <td> {{r.datumPocetka}} </td>
        <td> {{r.nazivV}} </td>
        <td> {{r.status}} </td>
        @if(r.ocena == 0){
            <td> - </td>
        } @else {
            <td> {{r.ocena}} </td>
        }
        <td> {{r.komentar}} </td>
        <td>
        @if(r.ocena == 0 && r.komentar == "" && r.status == "Odobrena" && r.uslov){
            <button (click) = "oceni(r)">Oceni vikendicu</button>
        }
        </td>
    </tr>
}
</table>
