@for(v of vikendice; track v.idV){
    <div class="Podaci">
        <div class="pod"> Naziv: <br>{{ v.naziv }}  </div>
        <div class="pod"> Mesto: <br> {{v.mesto}}  </div>
        <div class="pod"> Telefon: <br>{{v.telefon}}   </div>
        <div class="pod"> Cena leto: <br> {{v.cenovnik[0]}}   </div>
        <div class="pod"> Cena zima: <br> {{v.cenovnik[1]}}   </div>
        <div class="pod"> Usluge: <br>  {{v.usluge}}  </div>
        <div class="pod"> Lokacija: <br> {{v.koordinate.lat}} {{v.koordinate.lng}}</div>
    </div>
        <div class="galerija-kontejner">
            @for(s of v.galerija; track $index){
                <div class="slika-sa-dugmetom">
                    <img [src]="'http://localhost:4000/uploads/' + s">
                    
                    <button (click)="ukloni(v, s)">Ukloni</button> 
                </div>
            }
        </div>
        <input type="file"
            accept=".jpg,.jpeg,.png"
            (change)="validirajSliku($event)"> <button (click) = dodajSliku(v)>Dodaj sliku u galeriju</button> 
            <br>
            <br>
<div class="forma">
    Naziv: <input type="text" [(ngModel)]="v.Nnaziv">
    Mesto: <input type="text" [(ngModel)]="v.Nmesto">
    Usluge:<input type="text" [(ngModel)]="v.usluge1"> 
    Cena leto: <input type="number" [(ngModel)]="v.cenovnik1[0]"> 
    Cena zima: <input type="number" [(ngModel)]="v.cenovnik1[1]"> 
    Telefon: <input type="text" [(ngModel)]="v.Ntelefon"> 
    Lat lokacije: <input type="number" [(ngModel)]="v.koordinate1.lat"> 
    Lng lokacije: <input type="number" [(ngModel)]="v.koordinate1.lng"> 
    <button (click) = "promeni(v)">Promeni</button><br> 
    <button (click) = obrisi(v)>Obrisi vikendicu</button> 
</div>

}

<hr>
<h2>Nova vikendica: </h2>

<div class="forma">
    Naziv: <input type="text" [(ngModel)]="novaVikendica.naziv">
    Mesto: <input type="text" [(ngModel)]="novaVikendica.mesto">
    Usluge:<input type="text" [(ngModel)]="novaVikendica.usluge">
    Cena leto: <input type="number" [(ngModel)]="novaVikendica.cenovnik[0]"> 
    Cena zima: <input type="number" [(ngModel)]="novaVikendica.cenovnik[1]">
    Telefon: <input type="text" [(ngModel)]="novaVikendica.telefon"> 
    Lat lokacije: <input type="number" [(ngModel)]="novaVikendica.koordinate.lat"> 
    Lng lokacije: <input type="number" [(ngModel)]="novaVikendica.koordinate.lng"> 
</div>

<div class="forma">
    Galerija: <input type="file" accept=".jpg,.jpeg,.png" (change)="validirajSliku1($event)">  
    JSON : <input type="file" accept=".json" (change)="json($event)">  
    <button (click) = "napraviVikendicu()">Dodaj vikendicu</button> 
</div>
