<img class="a" [src]="'http://localhost:4000/uploads/' + user.slika">

<div class="Podaci"> 
  <div class="pod">  Ime:   <br> {{user.ime}}  </div>
  <div class="pod"> Prezime:  <br>{{user.prezime}} </div> 
  <div class="pod">  Adresa:   <br> {{user.adresa}} </div>
  <div class="pod">  Mejl: <br> {{user.mejl}} </div>
  <div class="pod">  Telefon: <br> {{user.telefon}} </div>
  <div class="pod">  Kartica: <br> {{user.brojKredinteKartice}} </div>
</div>

<hr>

<div class="forma">
  <label>Ime: </label>   
  <input type="text" [(ngModel)]="userNov.ime">
  <label>Prezime: </label>
  <input type="text" [(ngModel)]="userNov.prezime">
  <label>Adresa: </label>
  <input type="text" [(ngModel)]="userNov.adresa">
  <label>Telefon: </label>
  <input type="text" [(ngModel)]="userNov.telefon">
  <label>Mejl adresa: </label>
  <input type="text" [(ngModel)]="userNov.mejl">
  <label>Broj kreditne kartice: </label>
  <input type="number" [(ngModel)]="userNov.brojKredinteKartice" (ngModelChange)="promenaKaritce()">  
</div>

<div class="forma">
  <label>Profilna Slika: </label>
    <input type="file"
          accept=".jpg,.jpeg,.png"
          (change)="validirajSliku($event)">
  <button (click)="promeni()">Promeni</button>
</div>