.header {
    background-color: #E5E5E5;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px;
}

.headerLevo {
    display: flex;
}

.headerDesno button {
    padding: 8px 15px;
    cursor: pointer;
}