<div class="forma">
    <label>Korisnicko ime: </label>
    <input type="text" [(ngModel)]="user.korIme" req>

    <label>Lozinka: </label>
    <input type="password" [(ngModel)]="user.lozinka">

    <label>Ime: </label> 
    <input type="text" [(ngModel)]="user.ime">

    <label>Prezime: </label>
    <input type="text" [(ngModel)]="user.prezime">
    <label>Pol:  </label>
    <div class="radio">
        <label><input type="radio" name="pol" value="M" [(ngModel)]="user.pol"> M</label>
        <label><input type="radio" name="pol" value="Z" [(ngModel)]="user.pol"> Z</label>
    </div>

    <label>Adresa: </label>
    <input type="text" [(ngModel)]="user.adresa">

    <label>Telefon: </label>
    <input type="text" [(ngModel)]="user.telefon">

    <label>Mejl adresa:</label>
    <input type="text" [(ngModel)]="user.mejl">

    <label>Profilna Slika: </label>
    <input type="file"
            accept=".jpg,.jpeg,.png"
            (change)="validirajSliku($event)">
    <label>Broj kreditne kartice:</label>
    <input type="number" [(ngModel)]="user.brojKredinteKartice" (ngModelChange)="promenaKaritce()"> 
    @if(kartica!= ""){
        <br>
        <img class="a" src="slike/{{kartica}}.png">
    }
    <label>Tip:</label>
    <select [(ngModel)]="user.tip">
        <option>vlasnik</option>
        <option>turista</option>
    </select>
    <button (click)="register()">Register</button>
    <span class="msg">{{message}}</span>
    <br>
</div>